<% content_for :title do %>New Password<% end %>
<% content_for :description do %>Enter new password<% end %>

  <head>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
      <%= csrf_meta_tags %>
      <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
        </script>
      <![endif]-->
  </head>
  <body>

    <div class="container">
      <div class ="content">
        <h1>Forgot Password</h1>
        <div class="row" style="padding: 25px">
          <div class ="col-md-6 col-md-offset-3">
          
            <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
        
              <%= hidden_field_tag :email, @user.email %>
        
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
        
              <%= f.label :password_confirmation, "Confirmation" %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
        
              <%= f.submit "Update password", class: "btn btn-primary" %>
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
  </body>