<% content_for :title do %>Account Information<% end %>
<% content_for :description do %>Edit or view Account<% end %>

  <head>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'defaults', 'data-turbolinks-track' => false %>
      <%= csrf_meta_tags %>
      <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
        </script>
      <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="content2">
        <div class="row" style="padding: 25px">
          <div class ="col-md-6 col-md-offset-3">
            <%= form_for(@user) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
                <p>
                  <%= f.label :name  %><br>
                  <%= f.text_field  :name, class: 'form-control' %>
                </p>
  
                <p>
                  <%= f.label :email %><br>
                  <%= f.text_field :email, class: 'form-control' %>
                </p>
  
                <p>
                  <%= f.label :password %><br>
                  <%= f.text_field :password, class: 'form-control' %>
                </p>
                
                <p>
                 <%= f.label :password_confirmation, "Confirmation" %>
                 <%= f.password_field :password_confirmation, class: 'form-control' %>
                </p>
                
                <p>
                  <%= f.submit "Save changes", class: "btn btn-primary" %>
                  </p>
            <% end %>
            
            <div class="gravatar_edit">
              <%= gravatar_for @user %>
              <a href="http://gravatar.com/emails">Change Avatar</a>
            </div>
            <%= link_to 'Back', welcome_index_path %>
          </div>
        </div>
      </div>
    </div>
  </body>