<% content_for :title do %>Sounds Listing<% end %>
<% content_for :description do %>List of sounds in Sound Library<% end %>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
        $('#sound_table').dataTable({
            "bLengthChange": false,
            "iDisplayLength" : 15,

        });

         $('<%= link_to 'New Sound', new_sound_path, class: 'btn btn-primary', :style=>'margin-right:100px' %>').appendTo('div.dataTables_filter');
			});
		</script>
  </head>
  <body>
    <h1><b>Sound Library</b></h1>
    <div class="container">
     <div class="content">
      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover table-condensed" id="sound_table">
	      <thead>
            <tr>
              <th>Name</th>
              <th>Format</th>
              <th>Length</th>
              <th>Size</th>
              <th></th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <% @sounds.each do |sound| %>
            <tr>
              <td><%= sound.name %></td>
              <td><%= sound.format %></td>
              <td><%= sound.length %></td>
              <td><%= sound.size %></td>
              <td><%= link_to "Edit", edit_url(id: sound.id) %></td>
              <td><%= link_to "Delete", sound, method: :delete, data:{confirm: "Are you sure?"} %></td>
            </tr> 
            <% end %>
        </tbody>
      </table>
     </div>
    </div>
  </body>