<% content_for :title do %>Sounds Listing<% end %>
<% content_for :description do %>List of sounds in Sound Library<% end %>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" language="javascript" src="http://cdn.datatables.net/1.10-dev/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" language="javascript" src="dataTables.bootstrap.js"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
        $('#sound_table').dataTable({
            "bLengthChange": false,
            "iDisplayLength" : 15,
            "dom": '<"toolbar">frtip'
        });
        $("div.toolbar").html('<b> <%= link_to 'New Sound', new_sound_path %></b>');
			});
		</script>
  </head>
  <body>
    <h1>Sound Library</h1>
    <%= render 'layouts/flash_messages' %>

    <%# this padding is for the table inside the frame %>
    <div style="padding: 25px"> 
      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover" id="sound_table">
	      <thead>
            <tr>
              <th><%= link_to "Name" %></th>
              <th><%= link_to "Format" %></th>
              <th><%= link_to "Length" %></th>
              <th><%= link_to "Size" %></th>
              <th> Modify </th>
              <th> Remove </th>
            </tr>
        </thead>
          <tbody>
            <% @sounds.each do |sound| %>
            <tr>
              <td><%= sound.name %></td>
              <td><%= sound.format %></td>
              <td><%= sound.length %></td>
              <td><%= sound.size %></td>
              
              <td><%= link_to "Edit", edit_sound_path(sound) %></td>
              <td><%= link_to "Delete", sound, method: :delete, data:{confirm: "Are you sure?"} %></td>
            </tr> 
            <% end %>
          </tbody>
        </table>	
	  </div>
  </body>