<% content_for :title do %>Sounds Listing<% end %>
<% content_for :description do %>List of sounds in Sound Library<% end %>

  <h1>Sound Library</h1>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= content_for?(:title) ? yield(:title) : "Soundmanager" %></title>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="dataTables.bootstrap.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'defaults', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" language="javascript" src="http://cdn.datatables.net/1.10-dev/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" language="javascript" src="dataTables.bootstrap.js"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(-> {
				$('#sound_table').dataTable();
				
			} );
		</script>
  </head>
  <body>
    <div style="padding: 25px">
      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="sound_table">
	      <thead>
            <tr>
              <th><%= link_to "Name", :sort => "name" %></th>
              <th><%= link_to "Format", :sort => "format" %></th>
              <th><%= link_to "Length", :sort => "length" %></th>
              <th><%= link_to "Size", :sort => "size" %></th>
              <th> Modify </th>
              <th> Remove </th>
            </tr>
          </thead>
          <tbody>
            <% @sounds.each do |sound| %>
            <tr>
              <td><%= sound.name %></td>
              <td><%= sound.format %></td>
              <td><%= sound.length %></td>
              <td><%= sound.size %></td>
              
              <td><%= link_to "Edit", edit_sound_path(sound) %></td>
              <td><%= link_to "Delete", sound, method: :delete, data:{confirm: "Are you sure?"} %></td>
            </tr> 
            <% end %>
          </tbody>
        </table>	
	  </div>
  </body>