<% content_for :title do %>Sounds Listing<% end %>
<% content_for :description do %>List of sounds in Sound Library<% end %>

  <h1>Sound Library</h1>

  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Soundmanager" %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header>
      <div style="padding: 25px" >
        <%= link_to 'New Sound', new_sound_path %>
        <table class='table table-bordered'>
          <thead>
            <tr>
              <th><%= link_to "Name", :sort => "name" %></th>
              <th><%= link_to "Format", :sort => "format" %></th>
              <th><%= link_to "Length", :sort => "length" %></th>
              <th><%= link_to "Size", :sort => "size" %></th>
              <th> Modify </th>
              <th> Remove </th>
            </tr>
          </thead>
          <tbody>
            <% @sounds.each do |sound| %>
            <tr>
              <td><%= sound.name %></td>
              <td><%= sound.format %></td>
              <td><%= sound.length %></td>
              <td><%= sound.size %></td>
              
              <td><%= link_to "Edit", edit_sound_path(sound) %></td>
              <td><%= link_to "Delete", sound, method: :delete, data:{confirm: "Are you sure?"} %></td>
            </tr> 
            <% end %>
          </tbody>
          <% if false %>
          <%= will_paginate @sounds %>
          <% end %>
        </table>
      </div>
    </header>
  </body>