<% content_for :title do %>New Sound<% end %>
<% content_for :description do %>New Sound Created<% end %>

<div id="soundlist">
  <ul>
    <li><%= @sound.name %></li>
    <li><%= @sound.format %></li>
    <li><%= @sound.length %></li>
    <li><%= @sound.size %></li>
  </ul>
</div>


<%= link_to 'Back', sounds_path %>