<!DOCTYPE html>

<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Soundmanager" %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "sample app", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to "Home",   welcome_index_path, id: "logo" %></li>
            <li><%= link_to "Sound Library",   sounds_index_path, id: "logo" %></li>
            <li><%= link_to "Create Sound", sounds_new_path, id: "logo" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
        <div class="content">
          <%= yield %>
        </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>